<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          <h2>
            Allicia is available in the United States and internationally as a
            keynote speaker, panel member, and presenter.
          </h2>
          <!-- prettier-ignore -->
          <a class="btn btn-default btn-call-to-action" href="https://angelinarlington.com/contact/">Contact Allicia</a>
        </div>
      </div>
    </div>
  </div>
</section>
