<section id="social">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-icons">
          <li>
            <a href="https://www.linkedin.com/in/alliciajohnson/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/sweetallice"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/Allicia-Johnson-Author-Speaker-760071450707123/"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
